{
  "presets": ["react", "es2015"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[name]__[local]___[path]",
          "filetypes": {
            ".styl": {
              "syntax": "sugarss"
            }
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[name]__[local]___[path]",
          "filetypes": {
            ".styl": {
              "syntax": "sugarss"
            }
          }
        }]
      ]
    },
    "test": {
      "presets": ["env" ,"react", "es2015"],
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "<rootDir>/webpack.config.js" } ]
      ]
    }
  }
}
