{
  "presets": ["react", "es2015"],
  "plugins": [
    ["react-css-modules", {
      "generateScopedName": "[name]__[local]___[path]",
      "filetypes": {
        ".styl": "sugarss"
      }
    }]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "presets": ["env" ,"react", "es2015"],
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "<rootDir>/webpack.config.js" } ]
      ]
    }
  }
}
